/*Téléchargement de la police"*/

@font-face {
    font-family: 'ralewayregular';
    src: url('Font/raleway-regular-webfont.woff2') format('woff2'),
         url('Font/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'ralewayregular', Arial, Verdana, sans-serif;
}

/*En tete*/

.header{
    display: flex;
    flex-direction: row;    
    justify-content: space-between; 
    align-items: baseline;
    margin-bottom: 35px;
    margin-right: 5%;
    padding-left: 5%;    

}

.headlogo {
    margin: 30px 0px 0px 30px;
    max-height: 50px;
}

.headnav {
    margin: 30px 0px 0px 30px;
    font-weight: bold;
    font-size: 1.5em;
}

a {
    color: #000000;
    text-decoration: none;
}

.sinscrire {
    margin: 0px 30px 0px 30px;
    font-weight: bold;
    font-size: 1.5em;
    color: #0065FC;
    text-decoration: none;
}

.headsin:hover {
    color: #DEEBFF;
}

.headnav:hover {
    color: #0065FC;
    text-decoration: #0065FC;
    padding: 62px 0px 0px 0px;
    border-top: 4px solid #0065FC;
}

.hebactsin2 {
    display: none;
}

@media screen and (max-width: 768px) {
    
    .header {
        margin: 0;
        display: flex;
        flex-direction: row;
        align-content: center; 
        }
    .logo {
        margin-left: 10px;
    }
    .headnav {
      display: none;
    }
    .hebactsin2 {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .headnav2:hover {
        border-bottom: 4px solid #0065FC;
    }

}
*/
/*En tete*/


/*Recherche*/
.search {
    padding-left: 5%;
    justify-content: center;
}

.rechercheform {
    display: inline-flex;
    align-items: center;
}
.rechlogo {

    height: 2em;
    width: 2em;
}
.rechlogo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    color: #000000;
    height: 2em;
    border: none;
    border-radius:  10px 0 0 10px ;
    font-size: 1rem;
}
.recherchefiltrenom {
    padding-left: 10%;
}

#lieu {
    padding-left: 20px;
    height: 2em;
    border: 2px solid #F2F2F2;
}

.buttonrech {
    background-color: #0065FC;
    color: #FFFFFF;
    height: 2em;
    font-weight: bold;
    border: none;
    border-radius: 0 10px 10px 0;
    font-size: 1rem;
    cursor: pointer;
}

i.fas.fa-search {
    display: none;
}
/*Recherche*/


/*Filtres*/
.searchfiltre {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.filtres{
    font-weight: bold;
    align-items: center;
    margin: 0 1em 0 1em;
}

.recherchefil {
    height: 3em;
    width: 15em;
    display: flex;
    align-items: center;
    margin-right: 1em;
    margin-left: 1em;
    border: 2px solid #F2F2F2;
    border-radius: 2rem;
}
.recherchefil:hover {
    transform: scale(1.015);
    background-color:#DEEBFF ;

}
.recherchefiltrenom{
    display: flex;
    align-items: center;
    font-weight: bold;
}

#logo_filterwave {
    display: flex;
    align-items: center;
    height: 3em;
    width: 3em;
    justify-content: center;
    background-color: #DEEBFF;
    color:#0065FC;
    border-radius: 100%;
}

#logo_filterchild {
    display: flex;
    align-items: center;
    height: 3em;
    width: 3em;
    justify-content: center;
    background-color: #DEEBFF;
    color:#0065FC;
    border-radius: 100%;
}

#logo_filterheart {
    display: flex;
    align-items: center;
    height: 3em;
    width: 3em;
    justify-content: center;
    background-color: #DEEBFF;
    color:#0065FC;
    border-radius: 100%;
}

#logo_filterdog {
    display: flex;
    align-items: center;
    height: 3em;
    width: 3em;
    justify-content: center;
    background-color: #DEEBFF;
    color:#0065FC;
    border-radius: 100%;
}

.info {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}
.fa-info {
    padding: 4px 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    color:#0065FC;
    border: 2px solid #F2F2F2;
    background-color: #FFFFFF;  
    border-radius: 100%;
}

.dispo {
    color: #000000;
}
@media screen and (max-width: 768px) {
      
}
/*Filtres*/

/*Bloc central de recherche de vacances*/

.blocrecherchevacances {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}


/*Populaire*/
#populaire {
    order:2;
    background-color: #F2F2F2;
    border-radius: 1.5em;
    width: 30%;
    display: flex;
    flex-wrap: wrap;
}


.populaireheader {
    margin: 0 30px;
    display:flex;
    align-items: center;
    font-weight: bold;
}

.popu {
    display: flex;
    flex-direction: row;
    border-radius: 1.5em;
    justify-content: center;
    background-color: #FFFFFF;
    box-shadow: 0 0 15px grey;
    height: 10em;
    width: 90%;
    margin: 1% 5%;
}

.popu:hover {
    transform: scale(1.015);
}

.blocpopulaire {
    display: flex;
    flex-wrap: wrap;
}

.popufigure {
    display: flex;
}

.popuimg {
    height: 9em;
    width: 250px;
    border-radius: 1.5em 0 0 1.5em;
}

@media screen and (max-width: 768px) {
    #populaire {
          order: 1;
          display: flex;
          flex-direction: column;
          width: 100%;
      }
}
/*Populaire*/


/*Hebergement*/
#hebergements {
    order: 1;
    background-color: #F2F2F2;
    border-radius: 1.5em;
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.heberheader{
    margin: 0 0 0 30px;
    display:flex;
    font-weight: bold;
}
.blocheber {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}

.heber {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1.5em;
    justify-content: center;
    background-color: #FFFFFF;
    box-shadow: 0 0 15px grey;
    height: 13em;
    width: 27%;
    margin: 0em 1em 1em 1em;
    
}
.heber:hover {
    transform: scale(1.015);
}

.heberimg {
    display: flex;
    height: 50%;
    width: 110%;
    border-radius: 1.5em 1.5em 0 0;

}

.heberlegende {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;

}


.logonote[data-active=true] {
    color: #0065FC;
}

.logonote[data-active=false] {
    color: #d9d9d9;
}
.afficherplus {
    position:flex;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 30px;
}
/*Hebergement*/

/*Activites*/


#activites {
    order:3;
    background-color: #FFFFFF;
    border-radius: 2em;
    width: 93%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 30px 0;
    
}

.titre_activites {
    display: flex;
    margin-left: 30px;
    font-weight: bold;
}

.activite {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blocactivite:hover {
    transform: scale(1.015);
}
.pomeguesfrioul, .gardelongchamp {
    display: flex;
    flex-direction: column;
}

/*.blocactivite, .blocactivite4  {
    height: 200%;
}
*/

.blocactivite {
    box-shadow: 0 0 20px grey;
    padding: 0 0 20px 0;
    border-radius: 1.5em;
    margin: 0 0 20px 0;
}

.blocphoto {
  display: flex;
  width: 20em;
  height: 10em;
}

.photo {
    border-radius: 1.5em 1.5em 0 0;
    height: 117%;
    width: 100%;
}
.photo2 {
    height: 280%;
}
.titreact {
position: relative;
left: 20px;
top: 283px;
}

.titreact2 {
    position: relative;
    left: 20px;
    top: 23px;
    }


/*Pied de page*/
 
.footer {
    width: 100%;
    background-color: #F2F2F2;   
}

.sectionfoot {
    display: flex;
    text-align: center;
    padding: 2% 5%;
}
.soussectionfoot{
    width:30%;
    padding: 1rem ;
}

.lienfooter{
    display: block;
    padding: 1rem 0;
}
.lienfooter:hover {
    text-decoration: underline;
}
.mail:hover {
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    
    .footer {
        background-color: #F2F2F2;
    } 
    .sectionfoot {
        display: flex;
        flex-direction: column;
        align-items: center;    
    } 


}
/*Pied de page*/