/*Téléchargement de la police"*/

@font-face {
    font-family: 'ralewayregular';
    src: url('Font/raleway-regular-webfont.woff2') format('woff2'),
         url('Font/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*
*{
    padding: 0 30px 0 30px;
}
*/
body {
    font-family: 'ralewayregular', Arial, Verdana, sans-serif;
}

/*En tete*/

.header{
    display: flex;
    flex-direction: row;    
    justify-content: space-between; 
    align-items: baseline;
    margin-bottom: 35px;

}

.headlogo {
    margin: 30px 0px 0px 30px;
    max-height: 50px;
}

.headnav {
    margin: 30px 0px 0px 30px;
    font-weight: bold;
    font-size: 1.5em;
}
a {
    color: #000000;
    text-decoration: none;
}
.sinscrire {
    margin: 0px 30px 0px 30px;
    font-weight: bold;
    font-size: 1.5em;
    color: #0065FC;
    text-decoration: none;
}
.headsin:hover {
    zoom: 120%;
}


.headnav:hover {
    color: #0065FC;
    text-decoration: #0065FC;
    padding: 62px 0px 0px 0px;
    border-top: 4px solid #0065FC;

}

/*
@media screen and (max-width: 600px) {
    
    .header {
        margin: 0;
        flex-direction: column;     
        }
    .logo {
        margin-left: 10px;
    }
    .headnav {
      text-align: justify;
        }
    .headsin {
        align-self: flex-end;
        padding: 0;
        margin-right: 10px;
        position: relative;
        bottom: 30px;
    }
    .headnav:hover {
        color: #0065FC;
        text-decoration: #0065FC;
        border-bottom: 4px solid #0065FC;
        border-top: none;
    }
    .headsin:hover {
    zoom:normal;
    }

}
*/
/*En tete*/



/*Recherche*/
.search {
    justify-content: center;
}

.rechercheform {
    display: inline-flex;
    align-items: center;
}
.rechlogo {

    height: 2em;
    width: 2em;
}
.rechlogo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    color: #000000;
    height: 2em;
    border: none;
    border-radius:  10px 0 0 10px ;
    font-size: 1rem;
}
.recherchefiltrenom {
    padding-left: 10%;
}

#lieu {
    padding-left: 20px;
    height: 2em;
    border: 2px solid #F2F2F2;
}

.buttonrech {
    background-color: #0065FC;
    color: #FFFFFF;
    height: 2em;
    font-weight: bold;
    border: none;
    border-radius: 0 10px 10px 0;
    font-size: 1rem;
}

i.fas.fa-search {
    display: none;
}

/*Recherche*/



/*Filtres*/
.searchfiltre {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.filtres{
    font-weight: bold;
    align-items: center;
    margin: 0 1em 0 1em;
}

.recherchefil {
    height: 3em;
    width: 15em;
    display: flex;
    align-items: center;
    margin-right: 1em;
    margin-left: 1em;
    border: 2px solid #F2F2F2;
    border-radius: 2rem;
}
.recherchefiltrenom{
    display: flex;
    align-items: center;
    font-weight: bold;
}

#logo_filterwave {
    display: flex;
    align-items: center;
    height: 3em;
    width: 3em;
    justify-content: center;
    background-color: #DEEBFF;
    color:#0065FC;
    border-radius: 100%;
}

#logo_filterchild {
    display: flex;
    align-items: center;
    height: 3em;
    width: 3em;
    justify-content: center;
    background-color: #DEEBFF;
    color:#0065FC;
    border-radius: 100%;
}

#logo_filterheart {
    display: flex;
    align-items: center;
    height: 3em;
    width: 3em;
    justify-content: center;
    background-color: #DEEBFF;
    color:#0065FC;
    border-radius: 100%;
}

#logo_filterdog {
    display: flex;
    align-items: center;
    height: 3em;
    width: 3em;
    justify-content: center;
    background-color: #DEEBFF;
    color:#0065FC;
    border-radius: 100%;
}

.info {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}
.fa-info {
    padding: 4px 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    color:#0065FC;
    border: 2px solid #F2F2F2;
    background-color: #FFFFFF;  
    border-radius: 100%;
}

.dispo {
    color: #000000;
}
/*Filtres*/

/*Bloc central de recherche de vacances*/

.blocrecherchevacances {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

/*Populaire*/
#populaire {
    order:2;
    background-color: #F2F2F2;
    border-radius: 2em;
    width: 25%;
    height: 50em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}


.populaireheader {
    position: absolute;
    left: 86em;
    font-weight: bold;
    justify-content: space-between;
}


.blocpopulaire {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.popu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1.5em;
    background-color: #FFFFFF;
    height: 11em;
    width: 90%;
    margin: 4em 5% 2em 5%;
    
}
.popufigure {
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
}
.popu:hover {
    zoom: 105%;
}

.popuimg {
    height: 10.5em;
    width: 50%;
    border-radius: 1.5em 0 0 1.5em;
}

/*Populaire*/


/*Hebergement*/
#hebergements {
    order: 1;
    background-color: #F2F2F2;
    border-radius: 2em;
    width: 60%;
    height: 50em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: justify;
}


#titreheber {
    position: absolute;
    left: 6em;
    font-weight: bold;
}
.blocheber {
    display: flex;
    align-content:center;
    justify-content:space-around;
    flex-wrap: wrap;
}

.heber {
    display: flex;
    align-items: center;
    border-radius: 1.5em;
    justify-content: center;
    background-color: #FFFFFF;
    height: 16em;
    width: 17em;
    margin: 4em 1em 4em 1em;
    
}
.heber:hover {
    zoom: 105%;
}

.heberimg {
    align-items: flex-start;
    height: 8rem;
    width: 16rem;
    border-radius: 1.5em 1.5em 0 0;
}

.logonote[data-active=true] {
    color: #0065FC;
}

.logonote[data-active=false] {
    color: #d9d9d9;
}
.afficherplus {
    position:absolute;
    left: 8em;
    bottom:-13em;
    font-weight: bold;
}
/*Hebergement*/

#activites {
    order:3;
    background-color: #F2F2F2;
    border-radius: 2em;
    width: 93%;
    height: 48em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: justify;
}

/*Pied de page*/
 
.footer {
    width: 100%;
    background-color: #F2F2F2;   
}

.sectionfoot {
    display: flex;
    padding: 2% 5%;
}
.soussectionfoot{
    width:30%;
    padding: 1rem ;
}

.lienfooter{
    display: block;
    padding: 1rem 0;
}
.lienfooter:hover {
    text-decoration: underline;
}
.mail:hover {
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    
    .footer {
    background-color: #F2F2F2;
    flex-direction: column;
}  


}
/*Pied de page*/