/*Téléchargement de la police"*/

@font-face {
    font-family: 'ralewayregular';
    src: url('Font/raleway-regular-webfont.woff2') format('woff2'),
         url('Font/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*
*{
    padding: 0 30px 0 30px;
}
*/
body {
    font-family: 'ralewayregular', Arial, Verdana, sans-serif;
}

/*En tete*/

.header{
    display: flex;
    flex-direction: row;    
    justify-content: space-between; 
    align-items: baseline;
    margin-bottom: 35px;

}

.headlogo {
    margin: 30px 0px 0px 30px;
    max-height: 50px;
}

.headnav {
    margin: 30px 0px 0px 30px;
    font-weight: bold;
    font-size: 1.5em;
}
a {
    color: #000000;
    text-decoration: none;
}
.sinscrire {
    margin: 0px 30px 0px 30px;
    font-weight: bold;
    font-size: 1.5em;
    color: #0065FC;
    text-decoration: none;
}
.headsin:hover {
    zoom: 120%;
}


.headnav:hover {
    color: #0065FC;
    text-decoration: #0065FC;
    padding: 62px 0px 0px 0px;
    border-top: 4px solid #0065FC;

}


@media screen and (max-width: 600px) {
    
    .header {
        margin: 0;
        flex-direction: column;     
        }
    .logo {
        margin-left: 10px;
    }
    .headnav {
      text-align: justify;
        }
    .headsin {
        align-self: flex-end;
        padding: 0;
        margin-right: 10px;
        position: relative;
        bottom: 30px;
    }
    .headnav:hover {
        color: #0065FC;
        text-decoration: #0065FC;
        border-bottom: 4px solid #0065FC;
        border-top: none;
    }
    .headsin:hover {
    zoom:normal;
    }

}

/*En tete*/



/*Recherche*/
.search {
    justify-content: center;
}

.rechercheform {
    display: inline-flex;
    align-items: center;
}
.rechlogo {

    height: 2em;
    width: 2em;
}
.rechlogo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    color: #000000;
    height: 2em;
    border: none;
    border-radius:  10px 0 0 10px ;
    font-size: 1rem;
}

#lieu {
    height: 2em;
    border: 2px solid #F2F2F2;
    text-align: center;
}
.buttonrech {
    background-color: #0065FC;
    color: #FFFFFF;
    height: 2em;
    font-weight: bold;
    border: none;
    border-radius: 0 10px 10px 0;
    font-size: 1rem;
}
.recherchemobile{
    display: none;
}
/*Recherche*/



/*Filtres*/
.searchfiltre {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.filtres{
    font-weight: bold;
    align-items: center;
    margin: 0 1em 0 1em;
}

.recherchefil {
    height: 3em;
    width: 15em;
    display: flex;
    align-items: center;
    margin-right: 1em;
    margin-left: 1em;
    border: 2px solid #F2F2F2;
    border-radius: 2rem;
}
.recherchefiltrenom{
    display: flex;
    align-items: center;
    font-weight: bold;
}

#logo_filterwave {
    display: flex;
    align-items: center;
    height: 3em;
    width: 3em;
    justify-content: center;
    background-color: #DEEBFF;
    color:#0065FC;
    border-radius: 100%;
}

#logo_filterchild {
    display: flex;
    align-items: center;
    height: 3em;
    width: 3em;
    justify-content: center;
    background-color: #DEEBFF;
    color:#0065FC;
    border-radius: 100%;
}

#logo_filterheart {
    display: flex;
    align-items: center;
    height: 3em;
    width: 3em;
    justify-content: center;
    background-color: #DEEBFF;
    color:#0065FC;
    border-radius: 100%;
}

#logo_filterdog {
    display: flex;
    align-items: center;
    height: 3em;
    width: 3em;
    justify-content: center;
    background-color: #DEEBFF;
    color:#0065FC;
    border-radius: 100%;
}

.info {
    margin-top: 30px;
    display: flex;
    align-items: center;
}
.fa-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    color:#0065FC;
    height: 2em;
    width: 2em;
    border: 2px solid #F2F2F2;
    background-color: #FFFFFF;  
    border-radius: 100%;
}

.dispo {
    color: #000000;
}
/*Filtres*/

/*Hebergement*/
.hebergements {
    position: relative;
    background-color: #F2F2F2;
    border-radius: 2em;
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 3em;
    row-gap: 3em;
    justify-content: justify;
}

.heberheader {
    display: block;
    padding: 0 0 0 45px;
}
#titreheber {
    position: absolute;
    top: 0px;
    left: 10px;
    font-weight: bold;
}

.heber {
    display: flex;
    justify-content: center;
    border-radius: 1.5em;
    background-color: #FFFFFF;
    height: 15em;
    width: 17em;
    margin: 4em 1em 4em 1em;
}
.heberimg {
    height: 8rem;
    width: 16rem;
    border-radius: 1.5em 1.5em 0 0;
    padding: 0 0 0 0;

}



/*Hebergement*/



/*Pied de page*/
 
.footer {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F2F2F2;
    
}

.sectionfoot {
    margin: 0% 5%;
 
}

@media screen and (max-width: 600px) {
    
    .footer {
    background-color: #F2F2F2;
    flex-direction: column;

}  
}
/*Pied de page*/